@tailwind base;

@tailwind components;

@tailwind utilities;

@layer base {
  // setup font, text 
  body {
    @apply font-primary text-base antialiased font-normal mx-auto text-default;
    text-rendering: optimizeLegibility;
  }
}

html {
  font-size: 16px;
}

@media only screen and (max-width: 375px) {
  html {
    font-size: 12px;
  }
}

@media screen and (min-width: 376px) and (max-width: 767px) {
  html {
    font-size: 13px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  html {
    font-size: 16px;
  }
}

.input {
  @apply min-h-[3.875rem] border border-[#EAECEA] pt-5 pl-[10px] pb-0 text-default font-medium text-lg;
}

.card {
  @apply bg-white rounded-30px shadow py-8 px-[10px];
}

.bg-datePreview ul li::before {
  content: "\2022";
  color: #FD7770;
  font-weight: bold;
  display: inline-block;
  width: 12px;
}

.lvn-lichad-da::after {
  content: "\2022";
  color: #1BC022;
  font-weight: bold;
  display: inline-block;
}

.lvn-lichad-colhide, .lvn-lichad-colhide .lvn-lichad-da {
  color: #292D3257 !important;
}

.lvn-lichad-da {
  padding-left: 5px;
}

.good-day::before {
  content: "\2022";
  color: #1BC022;
  font-weight: bold;
  display: inline-block;
  width: 12px;
  font-size: 20px;
}

.ugly-day::before {
  content: "\2022";
  color: #596370;
  font-weight: bold;
  display: inline-block;
  width: 12px;
  font-size: 20px;
}

.today {
  width: 38px;
  height: 50px;

  background: rgba(150, 195, 151, 0.33);
  border-radius: 10px;
}

.MuiInputLabel-root {
  color: #A6B1BE !important;
  font-size: 18px !important;
  font-family: 'Inter', 'sans-serif' !important;
}
.MuiInputLabel-root:has(~ .Mui-error) {
  color: #d32f2f !important;
}

.MuiFilledInput-root {
  font-size: 18px !important;
  font-weight: 500 !important;
  font-family: 'Inter', 'sans-serif' !important;
  height: 60px !important;
  border-radius: 4px;
}

.MuiFormControl-root {
  border: 1px solid #EAECEA !important;
  border-radius: 4px;
}

.MuiFormControl-root {
  border: 1px solid #EAECEA !important;
  border-radius: 4px;
}
.MuiFormControl-root:has(.Mui-error) {
  border: 1px solid red !important;
}

.MuiInputBase-root.MuiFilledInput-root:before {
  border-bottom: unset !important;
}


.MuiInputBase-root.MuiFilledInput-root::after {
  border-bottom: unset !important;
}
